@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f6faff; /* Azul bem clarinho para o fundo */
  --foreground: #171717; /* Texto escuro para o fundo claro */
  --color-primary: #1e3a8a; /* Azul escuro do logo */
  --color-secondary: #f97316; /* Laranja do logo */
}

body {
  background-color: var(--background); 
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100vh;
}